.container {
    width: 1000px;
    margin: 0 auto;

}
.container > body {
    padding: 0px;
    margin: 0px;

}
.container > header {
    background-image: url('281244747_597829274590390_3822371192459035826_n.png');
    background-size: 100% 100% ;
    height: 0px;
    padding-bottom: 25%;


}
.menu>ul{
    list-style: none;
    padding: 0px ;
    margin: 0px;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
    
}
.menu>ul>li{
    display: inline-block;
}
.menu>ul>li>a{
    display: block;
    text-decoration: none;
    font-size: larger;
    color: white;
    padding: 0 20px;
    line-height: 40px;
    
}
.anh{
    border-radius: 5px;
    float: right;
    position: relative;
    left: 50px;
    top: 4px;
}
h3 {
    background-color:wheat ; padding: 0px 10px; margin: 0px 10px;color: orangered;font-style:larger; line-height: 40px;
    font-variant: small-caps;
    font-size: 125%;
    font-weight: bold;
}

.form-group {
    margin: 10px 0px;

}
.form-control {
    width: 75%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;

}
.form-group  {
        font-weight: bold;
        font-variant: small-caps;

}
.form-control:focus {

    box-shadow: 0 0 3px red;
    border: 1px solid yellow;
}
